*{
    margin: 3;
    padding: 3;
    
  
}
img{
    width:100%;
}
   


body{

    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-right: 20%; 
    border-style: solid;
    
    
    
}

.principaltxt{

padding: 3%;

}
.logo{

    width: 200px;
    height: 120px;
    margin-left: 25%;

}

.colortext{

    
    color: rgb(255, 255, 255);
}

.color {

background-color: darkgrey;

}

#contenedor{

    width: 94%;
    margin-left: 3%;
    margin-right: 3%;


}


    


.derechos{

    text-align: right;
    color: rgb(17, 17, 17);
}

